button {
	display: inline-block;
	margin: 0.4rem;
}

button:focus:not([disabled]),
button:hover:not([disabled]) {
	outline: 2px dashed #2A609E;
	outline-offset: 0.5rem;
}

.small-btn {
	background-color: #12343e;
	color: white;
	margin: 0.9rem;
	border: 2px solid #3593ae;
	border-radius: 1rem;
	padding: 0.4rem 1rem;
}

/** tests button */
[role="tabpanel"] h3 strong {
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.45rem;
	padding-left: 0.9rem;
	padding-right: 0.9rem;
}

[role="tabpanel"] h3 button {
	-moz-user-select: none;
	background: none;
    border: none;
    border-bottom: solid 1px #e5e5e5;
    font: inherit;
    line-height: normal;
    overflow: visible;
    color: #4c4c4c;
	display: flex;
	padding: 0 1.35rem 0 5rem;
	position: relative;
	text-align: left;
	width: 100%;
}

[role="tabpanel"] h3 button :last-child {
	width: 75%;
}
		
[role="tabpanel"] h3 button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

[role="tabpanel"] h3 button[aria-expanded="true"] {
	border-bottom-color: #fff;
}

[role="tabpanel"] h3 button::before {
	content: '\f105';
	position: absolute;
	top: 0;
	left: 0;
	width: 4rem;
	border-radius: 25%;
	font: normal normal normal 3.4rem/1.2 FontAwesome;
	text-align: center;
	padding-left: 0.2rem;
	background-color: #fff;
	-webkit-transition: transform 0.3s;
	transition: transform 0.3s;
}

[role="tabpanel"] h3 button[aria-expanded="true"]::before {
	background-color: #4B4C4B;
}

[role="tabpanel"] h3 button * {
	padding-bottom: 1.35rem;
	padding-top: 1.35rem;
}

[role="tabpanel"] h3 button strong {
	display: inline-block;
	min-width: 6rem;
	text-align: right;
}

[role="tabpanel"] h3 button span + span {
	display: inline-block;
	padding-left: 2.9rem;
	margin-left: 6rem;
}

[role="tabpanel"] h3 .status {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1.8rem;
	min-width: 18rem;
	padding-left: 1.8rem;
	padding-right: 1.8rem;
	text-align: center;
}

[role="tabpanel"] h3.failed button::before,
[role="tabpanel"] h3.failed .status,
[role="tabpanel"] h3.failed strong {
	color: #d90b0b;
}

[role="tabpanel"] h3.failed .status {
	background-color: rgba(217, 11, 11, 0.1);
}

[role="tabpanel"] h3.failed button[aria-expanded="true"]::before {
	background-color: #d90b0b;
}

[role="tabpanel"] h3.failed + div mark {
	background-color: #A42E28;
	color: #fff;
}

[role="tabpanel"] h3.passed button::before,
[role="tabpanel"] h3.passed .status,
[role="tabpanel"] h3.passed strong {
	color: #358700;
}

[role="tabpanel"] h3.passed .status {
	background-color: rgba(53, 135, 0, 0.1);
}

[role="tabpanel"] h3.passed button[aria-expanded="true"]::before {
	background-color: #358700;
}

[role="tabpanel"] h3.cantTell button::before,
[role="tabpanel"] h3.cantTell .status,
[role="tabpanel"] h3.cantTell strong {
	color: #2a609e;
}

[role="tabpanel"] h3.cantTell .status {
	background-color: rgba(42, 96, 158, 0.1);
}

[role="tabpanel"] h3.cantTell button[aria-expanded="true"]::before,
[role="tabpanel"] h3.cantTell + div mark {
	background-color: #2a609e;
}

[role="tabpanel"] h3.cantTell + div mark {
	color: #fff;
}

[role="tabpanel"] h3 button[aria-expanded="true"]::before {
	color: #fff;
	transform: rotate(90deg);
}

/** actions button */
th:last-child, td:last-child {
	min-width: 15rem;
	width: 15rem;
}

.item-actions a {
	display: inline-block;
	margin-top: 1rem;
}

table ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

table li {
	display: inline-block;
}
		
table li button, table li span.noaction {
	background-color: transparent;
	border: none;
	margin: 0 0 0 0.9rem;
	padding: 3px; 
	display: inline-block; 
	vertical-align: middle;
}

table li button img {
	pointer-events: none;
}

table li img {
	vertical-align: bottom;
}

.item-actions-highlight button {
	background-repeat: no-repeat;
	width: 2.4rem;
	height: 2.4rem;
}

.item-actions-highlight .visible {
	background-image: url("./images/see.png");
}

.item-actions-highlight .visible:hover,
.item-actions-highlight .visible:focus {
	background-image: url("./images/see_hover.png");
}

.item-actions-highlight .hidden {
	background-image: url("./images/see_disabled.png");
}

/** button activated */
.item-actions-highlight button.highlightON {
	border-bottom: 2px solid #2A609E;
	background-image: url("./images/see_hover.png");
}

.item-actions-inspect button {
	background-repeat: no-repeat;
	width: 2.4rem;
	height: 2.4rem;
}

.item-actions-inspect .visible {
	background-image: url("./images/inspect.png");
}

.item-actions-inspect .visible:hover,
.item-actions-inspect .visible:focus {
	background-image: url("./images/inspect_hover.png");
}

.item-actions-inspect .hidden {
	background-image: url("./images/inspect_disabled.png");
}

.item-actions-about button {
	background-image: url("./images/about.png");
	background-repeat: no-repeat;
	width: 2.4rem;
	height: 2.4rem;
}

.item-actions-about button:hover,
.item-actions-about button:focus {
	background-image: url("./images/about_hover.png");
}