/** sub tabs panel */
.subTabs ul[role="tablist"] {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.subTabs ul[role="tablist"] li {
	display: inline-block;
	padding: 1rem;
	background-color: #FFFFFF;
	color: #666666;
	border: 1px solid #666666;
	cursor: default;
	font-size: 1.4rem;
}

.subTabs ul[role="tablist"] li[aria-selected="true"] {
	border-bottom: 0;
	background-color: #F2F9FB;
	color: #2b7b92;
	font-weight: 700;
}

.subTabs ul[role="tablist"] li:hover {
	background-color: #f5f5f5;
}